#res {
    margin: 8px;
    border: 4px solid rgb(255, 255, 255);
    padding: 8px;
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    flex-direction: column;
}



#body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    margin: 0;
}

#b {
    background-color: black;
    color: white;
}

#buttons {
    justify-content: space-between;
}
